@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::selection {
  background-color: #FF8310;
  color: #fff;
}